---
import ProductoComponente from "./ProductoComponente"

---

<div class="mt-10 flex flex-col xl:flex-row flex-wrap gap-4 justify-center items-center	">

    <ProductoComponente></ProductoComponente>

</div>

<script>

</script>
