---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro"
const { id } = Astro.params
console.log(id)


import ProductosJSON from "../../data/productos.json";


const producto = ProductosJSON.productos.find(prod => prod?.id == id) || {prod: "Hola"}





export const getStaticPaths = (() => {
    const todasLasIds = ProductosJSON.productos.map(prod => ({
    params: {id: prod.id}
    })) 
    return todasLasIds;
}) satisfies GetStaticPaths;
---


<Layout title={producto.prod}>
    <h1>{producto.prod}</h1>
</Layout>