---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro"
const { id } = Astro.params
console.log(id)

interface Producto {
    id: string;
    prod: string;
    link: string;
    detalles: string[];
}

import ProductosJSON from "../../data/productos.json";


const producto: Producto|null = ProductosJSON.productos.find(prod => prod?.id == id) || null





export const getStaticPaths = (() => {
    const todasLasIds = ProductosJSON.productos.map(prod => ({
    params: {id: prod.id}
    })) 
    return todasLasIds;
}) satisfies GetStaticPaths;
---


<Layout title={producto?.prod || "Producto"}>
    <h1>{producto?.prod}</h1>
    <img src={producto?.link} alt="">
    {producto?.detalles.map(detalle =>(
        <p>{detalle}</p>
    ))}
</Layout>