---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro"
const { id } = Astro.params
console.log(id)

interface Producto {
    id: string;
    prod: string;
    link: string;
    detalles: string[];
}

import ProductosJSON from "../../data/productos.json";


const producto: Producto|null = ProductosJSON.productos.find(prod => prod?.id == id) || null





export const getStaticPaths = (() => {
    const todasLasIds = ProductosJSON.productos.map(prod => ({
    params: {id: prod.id}
    })) 
    return todasLasIds;
}) satisfies GetStaticPaths;
---


<Layout title={producto?.prod || "Producto"}>
    <div class="flex flex-col items-center gap-4">
        <h1 class="dark:text-zelectric-ribbon-100 text-2xl md:text-4xl text-zelectric-ribbon-600">{producto?.prod}</h1>
        <div class="w-64 h-64 md:w-1/2 md:h-1/2 overflow-hidden flex items-center justify-center">
            <img class="object-cover w-full h-full" src={producto?.link} alt="">
        </div>
        <ul class="list-disc">
            {producto?.detalles.map(detalle => (
                <li class="dark:text-zelectric-ribbon-100 text-zelectric-ribbon-600">{detalle}</li>
            ))}
        </ul>
    </div>
    
</Layout>