---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404">
    <main class="h-96 justify-center items-center pt-5">
        <div class="text-center items-center mt-5">
            <h1 class="mb-4 text-6xl font-semibold text-zelectric-dark-blue-300">Error 404</h1>
            <p class="mb-10 mt-10 text-3xl text-gray-600 ">Oops! Accedió a un enlace roto :(</p>
            <div class="animate-bounce mt-20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="yellow" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-auto h-16 w-16 text-zelectric-candlelight">
                    <path fill-rule="evenodd" d="M14.615 1.595a.75.75 0 01.359.852L12.982 9.75h7.268a.75.75 0 01.548 1.262l-10.5 11.25a.75.75 0 01-1.272-.71l1.992-7.302H3.75a.75.75 0 01-.548-1.262l10.5-11.25a.75.75 0 01.913-.143z" clip-rule="evenodd" />
                </svg>
            </div>
            <p class="mt-4 text-2xl text-gray-600">Regrese al <a href="/" class="text-blue-500">inicio!</a>.</p>
          </div>
        </div>
    </main>

    
</Layout>