---
import Layout from "../layouts/Layout.astro";

---


<Layout title="about">
    <div class="flex flex-col gap-6 md:flex-row mt-10">
        <div class="md:w-1/2 md:ml-10">
            <iframe class="w-full h-52 md:h-60" src="https://www.youtube.com/embed/sqWOWxvC4Q0?si=YBJ4zegLt3cBRgES" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="text-center flex flex-col gap-4 mb-10 md:w-1/2 tracking-wide">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores repudiandae officiis recusandae voluptatibus molestias incidunt labore, veniam perferendis voluptatum illo accusantium soluta corporis aliquam unde similique fuga accusamus! Inventore odit, animi facere recusandae sed ut explicabo amet dolorem atque nobis deserunt. Quas dolorum placeat quo adipisci, maiores reiciendis rem ratione!</p>
            <h3 class="font-bold">Lorem ipsum dolor sit amet consectetur.</h3>
            <button></button>
        </div>
    </div>
</Layout>