---
import Header from "../components/Header/Header.astro";
import Layout from "../layouts/Layout.astro";

---


<Layout title="Sobre nosotros">
    <Header title="Sobre nosotros"></Header>
    <div class="flex flex-col gap-6 md:flex-row  xl:container xl:m-auto lg:mt-36 xl:mt-40">
        <div class="md:w-1/2 md:ml-10">
            <iframe class="w-full h-52 md:h-60" src="https://www.youtube.com/embed/sqWOWxvC4Q0?si=YBJ4zegLt3cBRgES" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="text-center flex flex-col gap-4  items-center dark:text-gray-300 mb-10 md:w-1/2 tracking-wide">
            <p>Más que un negocio, somos una familia apasionada por la calidad y la atención personalizada. Desde el 2021 iniciamos nuestro emprendimiento con la misión de ofrecer productos y accesorios electrónicos de primera categoría.</p>
            <p>En cada compra, no solo encontrarás productos excepcionales, sino también el compromiso de un equipo en tener aquello que necesitas, cuando lo necesitas. </p>
            <button class="bg-yellow-zelectric w-60 text-2xl dark:text-gray-900 h-10 rounded	">
                CONTACTAR
            </button>
        </div>
    </div>
</Layout>