---
import Layout  from "../layouts/Layout.astro";
import Carrousel from "../components/Home/Carrousel.astro"
---

<Layout title="Home">
    <Carrousel/>
    <div class="relative lg:w-3/4 py-10 m-auto flex flex-col lg:flex-row gap-6">
        <div class="flex flex-col lg:flex-row gap-16 m-auto lg:m-0">
            <div class="lg:w-52 lg:h-52 h-64 w-64 rounded-lg bg-gray-500"></div>
            <div class="lg:w-52 lg:h-52 h-64 w-64 rounded-lg bg-gray-500"></div>
        </div>
        <div class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt enim culpa alias iure ea expedita nemo mollitia harum odio hic! In et quaerat explicabo ab tempore dolores eius vitae, inventore, commodi fuga quasi ad, laudantium sed repellat sint. Placeat, velit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt enim culpa alias iure ea expedita nemo mollitia harum odio hic! In et quaerat explicabo ab tempore dolores eius vitae, inventore, commodi fuga quasi ad, laudantium sed repellat sint. Placeat, velit.
        </div>
    </div>
</Layout>
