---
import Layout from "../layouts/Layout.astro";
import ProductoComponente from "../components/Productos/ProductoComponente";
---

<Layout title="Productos">
    <div class="container py-10 m-auto flex flex-col producto">
        <ProductoComponente
        client:load
        />
    </div>
</Layout>

<style>
    .producto{
        overflow-y: auto;
    }
</style>