---
import HeaderButton from "./HeaderButton.astro";

---


	<nav class="relative container m-auto px-4 py-4 mt-6 flex justify-between items-center bg-white">
        <div class="lg:hidden">
			<button class="navbar-burger flex items-center text-blue-600 p-3">
				<svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
				</svg>
			</button>
		</div>
		<a class="xl:text-5xl text-2xl  leading-none  my-auto" href="#">
            Zelectric
		</a>

		<ul class="hidden absolute top-1/2 left-1/2 lg:right-40 xl:right-2/3 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:items-center lg:flex-1 lg:space-x-6 ">
			<li><HeaderButton texto="inicio" url="/"/></li>
			<li><HeaderButton texto="productos" url="/productos"/></li>
			<li><HeaderButton texto="nosotros" url="/about"/></li>
			<li><HeaderButton texto="contacto" url="/contacto"/></li>
		</ul>
	</nav>
	<div class="navbar-menu relative z-50 hidden">
		<div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
		<nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-xs py-6 px-6 bg-white border-r overflow-y-auto">
			<div class="flex items-center mb-8">
				<a class="mr-auto text-3xl h-10 w-10 font-bold leading-none" href="#">
                    <img src="https://images.vexels.com/media/users/3/143424/isolated/preview/2aa6cd7edd894a7cefa4eaf0f5916ee9-rayo-pequeno.png"/>
				</a>
				<button class="navbar-close">
					<svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
					</svg>
				</button>
			</div>
			<div>
				<ul>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">INICIO</a>
					</li>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">PRODUCTOS</a>
					</li>
					<li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">NOSOTROS</a>
					</li>
                    <li class="mb-1">
						<a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">CONTACTOS</a>
					</li>
				</ul>
			</div>
			<div class="mt-auto">

				<p class="my-4 text-xs text-center text-gray-400">
					<span>Copyright © 2023</span>
				</p>
			</div>
		</nav>
	</div>

<script>
// Burger menus
document.addEventListener('DOMContentLoaded', function() {
    // open
    const burger = document.querySelectorAll('.navbar-burger');
    const menu = document.querySelectorAll('.navbar-menu');

    if (burger.length && menu.length) {
        for (let i = 0; i < burger.length; i++) {
            burger[i]?.addEventListener('click', function() {
                for (let j = 0; j < menu.length; j++) {
                    menu[j]?.classList.toggle('hidden');
                }
            });
        }
    }

    // close
    const close = document.querySelectorAll('.navbar-close');
    const backdrop = document.querySelectorAll('.navbar-backdrop');

    if (close.length) {
        for (let i = 0; i < close.length; i++) {
            close[i]?.addEventListener('click', function() {
                for (let j = 0; j < menu.length; j++) {
                    menu[j]?.classList.toggle('hidden');
                }
            });
        }
    }

    if (backdrop.length) {
        for (let i = 0; i < backdrop.length; i++) {
            backdrop[i]?.addEventListener('click', function() {
                for (let j = 0; j < menu.length; j++) {
                    menu[j]?.classList.toggle('hidden');
                }
            });
        }
    }
});
</script>

<style>
    a{
        font-family: 'Montserrat', sans-serif;
    }
</style>