---
interface Props {
	title: string;
}

const { title } = Astro.props;

---

<div class="bg-zelectric-ribbon flex items-center py-2">
    <a href="/" class="">
        <img src="https://cdn-icons-png.flaticon.com/512/3106/3106676.png" class=" h-6 mx-4" alt="Flecha para volver atras">
    </a>
    <h1>{title}</h1>
</div>