---
const {url, texto} = Astro.props

const {pathname} = Astro.url

let clase:string

if(url === pathname){
    clase = "text-xl text-gray-600 bold hover:text-gray-500"
}else{
    clase = "text-xl text-gray-400 hover:text-gray-500"

}

---

<a class={clase} href={url}>{texto.toUpperCase()}</a>