---
const {url, texto} = Astro.props

const {pathname} = Astro.url

let clase:string

if(url === pathname){
    clase = "xl:text-2xl text-xl font-bold text-zelectric-ribbon/80 hover:text-zelectric-blue hover:dark:text-blue-500 dark:text-white"
}else{
    clase = "xl:text-2xl text-xl text-zelectric-ribbon-800/80 hover:text-zelectric-blue hover:dark:text-blue-500 dark:text-white"

}

---

<a class={clase} href={url}>{texto.toUpperCase()}</a>