---
const {url, texto} = Astro.props

const {pathname} = Astro.url

let clase:string

if(url === pathname){
    clase = "xl:text-2xl text-xl font-bold text-zelectric-ribbon hover:text-zelectric-blue"
}else{
    clase = "xl:text-2xl text-xl text-zelectric-ribbon-800 hover:text-zelectric-blue"

}

---

<a class={clase} href={url}>{texto.toUpperCase()}</a>