---
---

<footer id="footer" class=" fixed bottom-0 w-full hide-on-scroll bg-gray-300 p-5 lg:p-5 flex flex-col sm:flex-row items-center justify-between gap-5 lg:gap-0">
    <ul class="flex gap-5 lg:gap-12">
        <li class="w-8 lg:w-12">
            <a href="https://www.instagram.com/zelectric_" target="_blank">
                <img src="https://cdn4.iconfinder.com/data/icons/social-media-black-white-2/600/Instagram_glyph_svg-512.png" alt="Instagram"/>
            </a>
        </li>
        <li class="w-8 lg:w-12">
            <a href="https://wa.me/543424212467?text=Bienvenido!%20En%20que%20podemos%20ayudarte?%20Te%20responderemos%20a%20la%20brevedad" target="_blank">
                <img src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Whatsapp_glyph_svg-512.png" alt="WhatsApp"/>
            </a>
        </li>
        <li class="w-8 lg:w-12">
            <a href="https://www.facebook.com/profile.php?id=100064090960378" target="_blank">
                <img src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Facebook_svg-512.png" alt="Facebook"/>
            </a>
        </li>
    </ul>
    <div class="flex flex-col items-center lg:items-center text-center lg:text-left gap-2 lg:gap-1">
        <p>Dirección</p>
        <p>Horario de atención</p>
        <p>Teléfono</p>
    </div>
    <h3 class="text-2xl lg:text-5xl hidden lg:block">
        Zelectric
    </h3>
</footer>

<style>
    .hide-on-scroll {
      transition: opacity 0.5s ease; /* Transición de opacidad */
    }
  
    .hide-on-scroll.opacity-0 {
      opacity: 0; /* Opacidad cero para ocultar */
    }
</style>
  
<script>
    let lastScrollTop = 0;
    const functionScroll = () => {
        let st = window.scrollY || document.documentElement.scrollTop;
        
        let footer = document.querySelector('.hide-on-scroll');

        if (st > lastScrollTop) {
            // Scrolling down
            footer?.classList.add('opacity-0');
        } else {
            // Scrolling up
            footer?.classList.remove('opacity-0');
        }
        lastScrollTop = st <= 0 ? 0 : st; // Para mobile, para que lastScrollTop no sea negativo. 
    }

    const functionQueDaElEvento = () => {
        window.addEventListener("scroll", functionScroll);
    }

    functionQueDaElEvento()
    document.addEventListener('astro:after-swap', functionQueDaElEvento);
</script>

