---
---

<div class="absolute w-full bottom-0 flex flex-col lg:flex-row items-center justify-center lg:justify-between lg:p-5 lg:px-28 lg:bg-gray-300 gap-5 my-5 lg:my-0">
    <ul class="flex w-auto justify-center gap-5 lg:gap-12">
        <li class="w-8 lg:w-12">
            <a href="https://www.instagram.com/zelectric_/" target="_blank">
                <img src="https://cdn4.iconfinder.com/data/icons/social-media-black-white-2/600/Instagram_glyph_svg-512.png"/>
            </a>
        </li>
        <li class="w-8 lg:w-12">
            <a href="https://example.com" target="_blank">
                <img src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Whatsapp_glyph_svg-512.png"/>
            </a>
        </li>
        <li class="w-8 lg:w-12">
            <a href="https://example.com" target="_blank">
                <img src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Facebook_svg-512.png"/>
            </a>
        </li>
    </ul>
    <div class="flex w-auto flex-col justify-center text-center gap-2s">
        <p>Dirección</p>
        <p>Horario de atencion</p>
        <p>Telefono</p>
    </div>
    <h3 class="hidden lg:block text-5xl">
        Zelectric
    </h3>
</div>